@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: white;
    }
}
@media (min-width: 766px) and (max-width: 1023px){
    .navbar-nav>li>a{
    font-size:12px;
}
}
@media (min-width: 300px) and (max-width: 763px){
    .fondo{
            background: rgba(111,52,24,1);
            background: -moz-linear-gradient(left, rgba(111,52,24,1) 0%, rgba(236,109,35,0.96) 66%, rgba(236,109,35,0.89) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(111,52,24,1)), color-stop(66%, rgba(236,109,35,0.96)), color-stop(100%, rgba(236,109,35,0.89)));
            background: -webkit-linear-gradient(left, rgba(111,52,24,1) 0%, rgba(236,109,35,0.96) 66%, rgba(236,109,35,0.89) 100%);
            background: -o-linear-gradient(left, rgba(111,52,24,1) 0%, rgba(236,109,35,0.96) 66%, rgba(236,109,35,0.89) 100%);
            background: -ms-linear-gradient(left, rgba(111,52,24,1) 0%, rgba(236,109,35,0.96) 66%, rgba(236,109,35,0.89) 100%);
            background: linear-gradient(to right, rgba(111,52,24,1) 0%, rgba(236,109,35,0.96) 66%, rgba(236,109,35,0.89) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f3418', endColorstr='#ec6d23', GradientType=1 );
    }
}
